<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="%WEBROOT_PATH%;%WEBROOT_PATH%\env\Lib\site-packages" />
    <add key="WSGI_HANDLER" value="app.wsgi_app()" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="Python34_via_FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python34\python.exe|D:\Python34\Scripts\wfastcgi.py" resourceType="Either" />
    </handlers>
  </system.webServer>
</configuration>
