<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="%SystemDrive%\home\site\wwwroot" />
    <add key="WSGI_HANDLER" value="app.wsgi_app()" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="Python35_via_FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="d:\home\Python35\Python.exe|d:\home\Python35\wfastcgi.py" resourceType="Either" />
    </handlers>
  </system.webServer>
</configuration>
